<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>

    <title th:text="#{profile.titlePage}">Profile</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<div th:insert="fragments/navbar :: navbar"></div>
<body>

<h2 th:text="#{profile.titlePage.changePassword}"> User profile</h2>
<hr>
<div class="container">

                <form th:action="@{/updatepass}"
                      th:method="POST"
                      th:class="form-horizontal">

                    <!-- New password -->
                    <label th:text="#{profile.field.newPassword}">Old Password</label>
                    <div>
                        <p th:if="${#fields.hasErrors('user.newPassword')}" class="label label-danger" th:errors="*{user.newPassword}"></p>
                        <div>
                            <input type="password" name="newPassword" class="input-xlarge">
                        </div>

                    </div>
                    <!-- Old Password -->
                    <label th:text="#{profile.field.oldPassword}">Old Password</label>
                    <div>
                        <div th:if="${passwordIsNotMatch != null}" th:text="${passwordIsNotMatch}" class="label label-danger"></div>
                        <p th:if="${#fields.hasErrors('user.password')}" class="label label-danger" th:errors="*{user.password}"></p>
                        <div>
                            <input type="password" name="password" class="input-xlarge">
                        </div>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-primary" th:text="#{profile.button.changePassword}">Change password</button>

                    </div>
                </form>
        <br>
        <div>
            <a th:href="@{/profile}"
               class="btn btn-primary"
               role="button" aria-pressef="true"
               th:text="#{profile.button.changePassword.cancel}"
            >
                Cancel
            </a>
        </div>






</div>

</body>
</html>