<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>

    <title th:text="#{profile.titlePage}">Profile</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<div th:insert="fragments/navbar :: navbar"></div>
<body>

<h2 th:text="#{profile.titlePage}"> User profile</h2>
<hr>
<div class="container">
    <div class="well">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Profile</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
                <div style="padding-top: 30px" class="panel-body">

                    <!-- Place for messages: error, alert etc ... -->
                    <div class="form-group">
                        <div class="col-xs-15">
                            <!-- Password has been changed -->
                            <div th:if="${success != null}">
                                <div th:text="${success}" class="alert alert-success"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Profile Form -->
                    <form th:class="form-horizontal">

                        <!-- User name -->
                        <label th:text="#{profile.field.username}">Username</label>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="text" name="username"  class="form-control" th:value="*{user.username}">
                        </div>

                        <!-- First Name -->
                        <label th:text="#{profile.field.firstName}">First name</label>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="text" name="firstName" class="form-control" th:value="*{user.firstName}">
                        </div>

                        <!-- Last name -->
                        <label th:text="#{profile.field.lastName}">Last name</label>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="text" name="lastName" class="form-control" th:value="*{user.lastName}">
                        </div>

                        <!-- Email -->
                        <label th:text="#{profile.field.email}">Email</label>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="text" name="email" class="form-control" th:value="*{user.email}">
                        </div>

                        <!-- Active -->
                        <label th:text="#{profile.field.active}">Active</label>
                        <div style="margin-bottom: 25px" class="input-group">
                            <input type="checkbox"  name="active" class="form-control" th:checked="*{user.active}" readonly>
                        </div>

                        <!-- Role -->
                        <label th:text="#{profile.field.role}">Role</label>
                        <div style="margin-bottom: 25px" class="input-group"
                             th:switch="*{user.roleNumber}">
                                <input type="text" name="roleNumber" class="form-control" th:case="1" th:value="#{global.user}" readonly>
                                <input type="text" name="roleNumber" class="form-control" th:case="2" th:value="#{global.admin}" readonly>

                        </div>

                    </form>

                    <div>
                        <a th:href="@{/changepass}"
                           class="btn btn-primary"
                           role="button" aria-pressef="true"
                           th:text="#{profile.button.changePassword}"
                        >
                            Change Password
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>



</div>

</body>
</html>